ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

.studentName {
  text-align: center;
}